<ion-header>
  <ion-toolbar>
   
    <ion-title color="primary">
      List of Movies
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding >
  <ion-card *ngFor="let m of movies">
    <div class="container">
        <div class="titlecenter">
            <ion-item class="center" style="color: #007bff;">{{m.name}}</ion-item>
        </div>
    </div>
   




    <ion-img src="{{m.image_url}}">
    </ion-img>

    <ion-item slot="start">
    <ion-icon name="calendar"  class="font-size"color="primary" ></ion-icon>
    {{m.year}}
    </ion-item>

    <ion-item slot="end">
    <ion-icon name="home"  color="primary" class="font-size" ></ion-icon>
    {{m.production_house}}
    </ion-item>
    <ion-item slot="start">
    <ion-icon name="heart"  color="primary" class="font-size" ></ion-icon>
    {{m.rating}}
    </ion-item>
    <ion-item slot="end">
    <ion-icon name="videocam"  color="primary" class="font-size" ></ion-icon>
    {{m.type}}</ion-item>
   
    <ion-button class="b-c"  (click)="select(m.id)">Book now</ion-button>
  </ion-card>

</ion-content>