<ion-header>
  <ion-toolbar>

    <ion-title color="primary">
      List of Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts" #mySlider (ionSlidesDidLoad)="slideDidLoad(mySlider)" autoplay="1000"
loop="true" speed="3000">
<ion-slide>
  <ion-img src="/assets/marvel.png"></ion-img>
</ion-slide>
<ion-slide>
  <ion-img src="/assets/aram.png"></ion-img>
</ion-slide>

<ion-slide>
  <ion-img src="/assets/avenger.png"></ion-img>
</ion-slide>
</ion-slides><br />

 
  <ion-card *ngFor="let m of movies">
    <div class="container">
      <div class="titlecenter">
        <ion-item class="center" style="color: #007bff;">{{m.name}}</ion-item>
      </div>
    </div>
    <ion-img src="{{m.image_url}}">
    </ion-img><br>
    <ion-list>
      
          <ion-icon slot="start" ios="ios-star" md="md-star" color="primary"></ion-icon>
          <ion-icon slot="start" ios="ios-star" md="md-star" color="primary"></ion-icon>
          <ion-icon slot="start" ios="ios-star" md="md-star" color="primary"></ion-icon>
          <ion-icon slot="start" ios="ios-star" md="md-star" color="primary"></ion-icon>
          <ion-icon slot="start" ios="ios-star-outline" md="md-star-outlne" color="primary"></ion-icon>
      
    
    <ion-col style="margin-left:200px">
        {{m.year}}
    </ion-col>
    
      
    
      
    
    </ion-list>
    
    
    


    <ion-button class="b-c" (click)="select(m.id)">Book now</ion-button>
  </ion-card>

</ion-content>