<ion-header>
  <ion-toolbar>
    <a href="login">
      <ion-icon name='arrow-back'></ion-icon></a>
    <ion-title>
      Password
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
  <div>
    <ion-card class="card-view">
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-list class="no-border">
              <ion-item>
                 
                <ion-label position="floating"> Email</ion-label>
               
                <ion-input [(ngModel)]="customer.phone" type="email"></ion-input>
                <ion-icon slot="end" name="mail"></ion-icon>
              </ion-item>
              
             
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="full" class="signin-button btn-white" color="primary" (click)="reset()"shape="round">Reset Password</ion-button>
          </ion-col>

        </ion-row>
        
      </ion-card-content>
    </ion-card>
    <ion-row>
    </ion-row>

  </div>
</ion-content>