

<ion-header>
  <ion-toolbar>
      <a href="list-movies">
          <ion-icon name='arrow-back' color="primary"></ion-icon></a>
    <ion-title class="text-font"color="primary">
     Booking
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >

<ion-card>
 
      <ion-img src="{{movie.image_url}}"></ion-img>
  <ion-card-header>
     <ion-card-title color="primary">{{movie.name}} <ion-badge > 89%</ion-badge></ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <span color="primary">Rating: {{movie.rating}}/5</span> <br/>
      <span style="text-align:right"> Production: {{movie.production_house}}</span>
      <p><span>Genre: {{movie.type}}</span></p>
      <ion-list>
              <ion-list-header></ion-list-header>
              <ion-item>
                <ion-label color="primary">Select No of Seats</ion-label>
                <ion-select value="1" okText="Done" cancelText="Cancel">
                  <ion-select-option value="1" color="primary">1</ion-select-option>
                  <ion-select-option value="2" color="primary">2</ion-select-option>
                  <ion-select-option value="3" color="primary">3</ion-select-option>
                  <ion-select-option value="4" color="primary">4</ion-select-option>
                  <ion-select-option value="5" color="primary">5</ion-select-option>
                  <ion-select-option value="6" color="primary">6</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <ion-item>
                  <ion-label color="primary">Date</ion-label>
                  <ion-datetime display-format="DD MM YYYY" color="primary"></ion-datetime>
            </ion-item>
      <ion-button expand ='full'  (click)=doPayment()>Continue Booking</ion-button>
      
  </ion-card-content>
</ion-card>
</ion-content>
